.title-section strong {
    border-bottom: 1px solid #ff214f;
}

//section portofolio

.grid-row {
    display: flex !important;
    flex-wrap: wrap !important;
    padding: 0 4px !important;
}

.column {
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

// Section about me
.about-me strong {
    border-bottom: 1px solid #ff214f;
}

h6 {
    font-size: 20px !important;
    line-height: 25px !important;
}

.btn-myresume {
    border-radius: 40px !important;
}

.btn-myresume:hover {
    background-color: purple !important;
}

// section contact

.fa-contact-custom {
    color: #ff214f;
}
<<<<<<< HEAD

//Simple SideBar
#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #3490dc !important;
  border-color: #3490dc;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
=======
>>>>>>> 33f3e47fab93b0b1b6c1a92fbb9833d54b91a3dc
